/* Change the font and increase size */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Same background color for header and footer */
header, footer {
    background-color: #e6e6e6;
    padding: 10px;
}

/* Class for the main site title */
.site-title {
    color: darkblue;
}

/* Add box shadow to the image */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* Replace default bullets with squares */
ul {
    list-style-type: square;
}

/* Add background to odd list items */
ul li:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Style navigation links */
nav a {
    text-decoration: none;
    background-color: lightblue;
    border: 1px solid blue;
    padding: 5px 10px;
}

/* Change background on hover */
nav a:hover {
    background-color: blue;
    color: white;
}
